
.coverTypeBlock{
  display: flex;
  margin-top: 86px;
  .innerTypeBlock{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .typeBlock{
      left: 0;
      display: flex;
      align-items: center;
      input{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: transparent;
        border: none;
        outline: none;
        z-index: 9;
        color: transparent;
        caret-color: transparent;
        text-shadow: 0 0 0 transparent;
        &:focus{
          caret-color: transparent!important;
          text-shadow: 0 0 0 transparent!important;
        }
        &:active{
          caret-color: transparent!important;
          text-shadow: 0 0 0 transparent!important;
        }
        &:focus-within{
          caret-color: transparent!important;
          text-shadow: 0 0 0 transparent!important;
        }
        &:focus-visible{
          caret-color: transparent!important;
          text-shadow: 0 0 0 transparent!important;
        }
        &:target{
          caret-color: transparent!important;
          text-shadow: 0 0 0 transparent!important;
        }
      }
      .bird{
        width: 175.81px;
        @media only screen and (max-width: 768px) {
          width: 96px;
        }
        @media only screen and (max-width: 360px) {
          width: 88px;
        }
      }
      .move{
        animation: moveAnimation 1.5s linear infinite;
      }
      @keyframes moveAnimation {
        0%   { transform: translate(0px, 0px); }
        25%  { transform: translate(0px, -3px); }
        50%  { transform: translate(0px, 0px); }
        75% { transform: translate(0px, 3px); }
        100% { transform: translate(0px, 0px); }
      }
      #angry_eye, #beak_angry{
        visibility:hidden;
      }
      .letters{
        white-space: pre;
        font-style: normal;
        font-weight: 700;
        font-size: 120px;
        line-height: 136px;
        color: $prussian-blue;
        padding-left: 32px;
        @media only screen and (max-width: 768px) {
          left:  96px;
          font-size: 96px;
          line-height: 112px;
          padding-left: 27px;
        }
        @media only screen and (max-width: 360px) {
          left:  88px;
          font-size: 48px;
          line-height: 59px;
        }
      }
    }
  }
  .specialWidth{
    .typeBlock{
      position: absolute;
      width: max-content;
    }
  }
}