
.coverTypeBlock{
  display: flex;
  margin-top: 86px;
  .innerTypeBlock{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .typeBlock{
      outline: none;
      cursor: pointer;
      left: 0;
      display: flex;
      align-items: center;
      .bird{
        width: 175.81px;
        @media only screen and (max-width: 768px) {
          width: 96px;
        }
        @media only screen and (max-width: 360px) {
          width: 88px;
        }
      }
      .move{
        animation: moveAnimation 1.5s linear infinite;
      }
      @keyframes moveAnimation {
        0%   { transform: translate(0px, 0px); }
        25%  { transform: translate(0px, -3px); }
        50%  { transform: translate(0px, 0px); }
        75% { transform: translate(0px, 3px); }
        100% { transform: translate(0px, 0px); }
      }
      .bite{
        #beak_top {
          animation: beak_top_animation 0.2s linear;
        }
        #beak_bottom {
          animation: beak_bottom_animation 0.2s linear;
        }
      }

      @keyframes beak_top_animation {
        0%   { d: var(--beak_top-A); }
        50%  { d: var(--beak_top-B); }
        100% { d: var(--beak_top-A); }
      }

      @keyframes beak_bottom_animation {
        0%   { d: var(--beak_bottom-A); }
        50%  { d: var(--beak_bottom-B); }
        100% { d: var(--beak_bottom-A); }
      }
      .angry{
        #angry_eye, #beak_angry{
          display: block;
        }
        #beak_bottom{
          display: none;
        }
      }
      #angry_eye, #beak_angry{
        display: none;
      }
      .letters{
        white-space: pre;
        font-style: normal;
        font-weight: 700;
        font-size: 120px;
        line-height: 136px;
        color: $prussian-blue;
        padding-left: 32px;
        @media only screen and (max-width: 768px) {
          left:  96px;
          font-size: 96px;
          line-height: 112px;
          padding-left: 27px;
        }
        @media only screen and (max-width: 360px) {
          left:  88px;
          font-size: 48px;
          line-height: 59px;
        }
      }
    }
  }
  .specialWidth{
    .typeBlock{
      position: absolute;
      width: max-content;
    }
  }
}