@import 'global';
@import 'fonts';
@import "../../node_modules/bootstrap/scss/bootstrap";

body{
  font-family: 'Montserrat', sans-serif;
  @import 'header';
  background: $white;
  @import 'coverTypeBlock';
}
@import "dark-mode";
@import 'ModalMenu';
.container{
  padding: 0 53px;
  @media only screen and (max-width: 768px){
    padding: 0 21px;
  }
  @media only screen and (max-width: 360px){
    padding: 0 17px;
  }
}
.overHidden{
  overflow: hidden;
}
